.completedChallengesContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3.5rem 0;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-bottom: 1px solid #d7d8da;

    font-weight: 500;
}

.completedChallengesContainer span:first-child{
    font-size: 1.25rem;
}

.completedChallengesContainer span:last-child{
    font-weight: 800;
    font-size: 1.6rem;
}