.divContainer {
    width: 30px;
    height: 60px;
    background: var(--white);
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    right: 3rem;

    position: absolute;
    margin-top: 3rem;
    margin-left: 3rem;

    transition: background 0.2s;
}

.divContainer input{
    align-self: flex-start;
    width: 26px;
    height: 26px;
    background: var(--primary);
    border-radius: 50px;
    border: 0px;
    margin-top: 3px;
    margin-left: 2px;

    cursor: pointer;

    position: absolute;

    outline: none;
    box-shadow: none;

    transition: background 0.5s, margin-top 0.2s;
    appearance: none;
}

.divContainer > input:checked{
    margin-top: 31px;
    background: var(--secondary)
}

.faSun {
    position: absolute;
    left: .45rem;

    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.faMoon {
    transform: translateX(50%);

    animation: opacityMoon 1.5s infinite ease;
}

@keyframes opacityMoon {
    0% { opacity: 1; }
    50% { opacity: 0;}
    100% { opacity: 1;}
}

