.experienceBar {
    display: flex;
    align-items: center;

    animation-timing-function: ease;
    animation: experienceBar .7s;
}

@keyframes experienceBar {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.experienceBar span{
   font-size: 1rem; 
}

.experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background-color: var(--primary);

    box-shadow: 0 0 30px var(--primary);

    transition: background-color .4s, box-shadow .4s;
}

span.currentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
}