.container {
    flex: 1;
}

.container h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--title);
}

.headerListUsers {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.headerListUsers > div:first-child {
    margin-top: 30px;
}

.headerListUsers > div:last-child {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.bodyListUsers {
    display: flex;
    flex-direction: row;
}

.bodyListUsers > div:first-child {
    width: 10%;
    height: 100px;
    margin-bottom: 7px;
    margin-right: 5px;

    background: var(--white);
    box-shadow: 0 0 10px rgba(136, 136, 136, 0.05);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    font-size: 22px;
    font-weight: 600;

    animation: divUsers .2s;
    animation-timing-function: linear;
}

@keyframes divUsers {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}

.bodyListUsers > div:last-child {
    width: 85%;
    height: 100px;
    margin-bottom: 7px;

    background: var(--white);
    box-shadow: 0 0 10px rgba(136, 136, 136, 0.05);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    flex-direction: row;
    align-items: center;

    display: grid;
    grid-template-columns: 20vw 10vw;

    animation: divUsers .2s;
    animation-timing-function: linear;
}

.textChallenges {
    font-size: 18px;
}

.textExperience {
    font-size: 18px;
    color: var(--primary);
}

.position {
    color: gray;
    margin-right: 3rem;
    margin-left: 1rem;
}

.user {
    color: gray;
    margin-right: 25rem;
}

.challenges {
    color: gray;
    margin-right: 7rem;
}

.experience {
    color: gray;
}

.divProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divTexts {
    display: grid;
    flex-direction: row;
    grid-template-columns: 6.5vw 5vw;
}

.userImage {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    margin-left: 2rem;
}

.userLevel {
    margin-left: .5rem;
}

.userName {
    margin-bottom: .3rem;
    font-size: 18px;
    font-weight: 600;
}
