.profileContainer {
    display: flex;
    align-items: center;

    animation: profileContainer .7s;
    animation-timing-function: ease;
}

@keyframes profileContainer {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.profileContainer > p > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;

    border: 2px solid var(--title);
    padding: 2px;
    box-shadow: 0 0 10px rgba(136, 136, 136, 0.7);
}

.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
}

.profileContainer div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContainer p img {
    margin-right: 0.5rem;
}